.composant-pager {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid rgba(black, 0.1);

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 1rem;

		.item {
			border: 2px solid rgba(black, 0.1);
			margin: 0 0.2rem;
			height: 1.5rem;
			width: 1.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 5px;
			font-weight: bold;
			transition: all 150ms ease-in;
			&.active {
				background-color: #f4b860;
				color: black;
			}

			&:hover {
				background-color: #c83e4d;
				color: white;
			}
		}
	}
}
