.app {
	.container {
		margin: 1rem 5%;

		&.grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, 420px);
			grid-column-gap: 20px;
			grid-row-gap: 20px;
			flex-wrap: wrap;
			justify-content: center;
			> .grid-item {
				border: 2px solid rgba(black, 0.1);
				height: 700px;
				min-width: 420px;
				border-radius: 5px;
				overflow: hidden;
			}
		}
	}
}
