.pager {
	display: flex;
	flex-direction: column;
	align-items: center;

	> h2 {
		width: 100%;
		border-bottom: 1px solid rgba(black, 0.1);
		padding: 1rem 0;
		margin: 0;
		text-align: center;
	}
	> .grid-container {
		flex: 1;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto-fill, fit-content);
		grid-column-gap: 15px;
		grid-row-gap: 15px;
		overflow-y: scroll;
		padding: 1rem;
	}
}
